ZABBIX_URL=https://zabbix.example.com/zabbix/api_jsonrpc.php
ZABBIX_USER=api_user
ZABBIX_PASS=api_password
PORT=5000

GRAFANA_URL=http://grafana.example.com
GRAFANA_API_TOKEN=your_service_account_token_here
